<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.upclicks.ffc">

    <application
        android:name=".base.BaseApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Main"
        android:windowSoftInputMode="adjustResize|stateHidden"
        tools:replace="android:allowBackup">
    <activity
            android:name=".ui.general.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.checkout.CheckoutSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.checkout.Checkout3Activity"
            android:exported="false" />
        <activity
            android:name=".ui.checkout.Checkout2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.checkout.Checkout1Activity"
            android:exported="false" />
        <activity
            android:name=".ui.products.OrderDetailsActivity"
            android:exported="false" />
        <activity android:name=".ui.main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.cart.ShoppingCartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.products.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.PersonalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.orders.MyOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.products.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".ui.products.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.products.ProductsListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.SignUpFirstActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.VerifyMembershipActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.ResetPasswordActivity"
            android:exported="false" />
        <activity android:name=".ui.authentication.LoginByEmailActivity" />
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="com.upclicks.ffc.home" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>